@import '../../assets/variables';

.Action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & button {
        transition: 300ms;
        height: 60px;
        width: 60px;
        margin-left: 20px;
        margin-right: 5px;

        float: right;
        position: relative;

        outline: none;
        border-radius: 5px;
        border: 3px solid rgb(78, 78, 78);
        background-color: white;
        box-shadow: 5px 5px 0px rgb(78, 78, 78);

        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        // transition: 200ms;

        &:active {
            box-shadow: 0px 0px 0px 0px;
            top: 5px;
            left: 5px;
        }

        & .label {
            font-size: 30px;
            // line-height: 0;
            margin: auto;
        }
    }
}

.dark-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & button {
        transition: 300ms;
        height: 60px;
        width: 60px;
        margin-left: 20px;
        margin-right: 5px;

        float: right;
        position: relative;

        outline: none;
        border-radius: 5px;
        border: 3px solid #21262d;
        background-color: rgb(64, 65, 79);
        box-shadow: 5px 5px 0px black;

        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        // transition: 200ms;

        &:active {
            box-shadow: 0px 0px 0px 0px black;
            top: 5px;
            left: 5px;
        }

        & .label {
            font-size: 30px;
            // line-height: 0;
            margin: auto;
            color: white;
        }
    }
}